python-dotenv

langchain-core
langchain-community
langgraph

tavily-python
playwright

qdrant-client
llama-index
llama-index-embeddings-dashscope
llama-index-embeddings-openai
openai
dashscope

streamlit
fastapi
uvicorn[standard]
